*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 80px;
}
#logo{
    width: 131px;
}
.container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
     height: 100%;
     

}
#navlist{
    display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 24px; 
  list-style: none;
  
}
.navlink{
    color: white;
    text-decoration: none;
}
header >.container{

display: flex;
     flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section1 > .container{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
 .section1center{
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-right: auto;
        margin-left: auto;
        padding-top: 45px;
 }
   h1{
    font-size: 54px;
   }

   .firstlink{
    background-color: black;
     color: white;
     padding-left: 32px;
     padding-right: 32px;
     padding-top: 16px;
     padding-bottom: 16px;
     border-radius: 100px;
     text-decoration: none;
     border:double 9px white;
     border-radius: 100px;
     
   }
   .section1link{
    margin-right: auto;
    margin-left: auto;
    padding-top: 34px;
   }
   p{
    font-size: 24px;
   }
   .lastp{
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 35px;
    padding-bottom: 10px;
   }
   section{
    background-color:#b49bc8 ;
   }
   
   
   
     
